extends ./layouts/default.pug

block title 
  title Koa Movise

block content
  .container 
    .row 
      .col-md-8 
        h1 Hi #{name}  
        p This is Movie App 
      .col-md-4 
        p 测试静态页面